# The Canadian Aquatic Biomonitoring Network (CABIN)


In this notebook CABIN data is cleaned and Newfoundland and Labrador data is exported.

In [1]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

/home/javad/anaconda3/lib/python3.8/site-packages/geopandas/_compat.py:84: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

# Benthic data

In [2]:
ben_df = pd.read_csv("data/CABIN-data-20210307/cabin_benthic_data_mda02_1987-present.csv", encoding='utf-16')

In [3]:
ben_df # check with excel

,Site/Site,Year/Année,JulianDay/JourJulien,SamplingDevice/Dispositifd'échantillonnage,KickTime/Périodedelapassedufilettroubleau,MeshSize/Maillage,SampleNumber/Numérod'échantillon,SubSample/Sous-échantillon,TotalSample/Échantillontotal,Status/État,...,Phylum/Phylum,Class/Classe,Order/Ordre,Family/Famille,Genus/Genre,Species/Espèce,Replicate/Réplicat,Count/Décompte,ITIS_TSN,Valid/Valide
0,Imogene,2014,258,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Diptera,Chironomidae,Stempellinella,NaN,1,20.0,129969.0,True
1,Imogene,2014,258,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Diptera,Chironomidae,Polypedilum,NaN,1,270.0,129657.0,True
2,Imogene,2014,258,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Diptera,Chironomidae,Chironominae,NaN,1,20.0,129228.0,True
3,Imogene,2014,258,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Diptera,Chironomidae,Parakiefferiella,NaN,1,890.0,128968.0,True
4,Imogene,2014,258,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Diptera,Chironomidae,Pentaneura,NaN,1,10.0,128215.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194886,HYD01,2017,269,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Diptera,Tipulidae,Antocha,NaN,1,110.0,119656.0,True
194887,HYD01,2017,269,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Diptera,Tipulidae,Dicranota,NaN,1,10.0,121027.0,True
194888,HYD01,2017,269,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Ephemeroptera,Baetidae,Acerpenna,NaN,1,320.0,568546.0,True
194889,HYD01,2017,269,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Ephemeroptera,Isonychiidae,Isonychia,NaN,1,40.0,101041.0,True
194890,HYD01,2017,269,Kick Net,3.0,400.0,1,10.0,100,Test,...,Arthropoda,Insecta,Ephemeroptera,Baetiscidae,Baetisca,NaN,1,10.0,101494.0,True

In [4]:
ben_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194891 entries, 0 to 194890
Data columns (total 26 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Site/Site                                   194891 non-null  object
 1   Year/Année                                  194891 non-null  int64
 2   JulianDay/JourJulien                        194891 non-null  int64
 3   SamplingDevice/Dispositifd'échantillonnage  194891 non-null  object
 4   KickTime/Périodedelapassedufilettroubleau   52558 non-null   float64
 5   MeshSize/Maillage                           187103 non-null  float64
 6   SampleNumber/Numérod'échantillon            194891 non-null  int64
 7   SubSample/Sous-échantillon                  192028 non-null  float64
 8   TotalSample/Échantillontotal                194891 non-null  int64
 9   Status/État                                 194891 non-null  object
 10  QA/QC                                       194891 non-null  bool
 11  Taxonomist/Taxonomiste                      75716 non-null   object
 12  Organization/Organisation                   75716 non-null   object
 13  Address/Adresser                            75716 non-null   object
 14  City/Ville                                  75716 non-null   object
 15  Province/Province                           75716 non-null   object
 16  Phylum/Phylum                               194891 non-null  object
 17  Class/Classe                                190193 non-null  object
 18  Order/Ordre                                 182966 non-null  object
 19  Family/Famille                              178395 non-null  object
 20  Genus/Genre                                 153163 non-null  object
 21  Species/Espèce                              65075 non-null   object
 22  Replicate/Réplicat                          194891 non-null  int64
 23  Count/Décompte                              194891 non-null  float64
 24  ITIS_TSN                                    178705 non-null  float64
 25  Valid/Valide                                194891 non-null  bool
dtypes: bool(2), float64(5), int64(5), object(14)
memory usage: 36.1+ MB

## Habitat data

In [5]:
hab_df = pd.read_csv("data/CABIN-data-20210307/cabin_habitat_data_mda02_1987-present.csv", encoding="UTF-16")

In [6]:
hab_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194647 entries, 0 to 194646
Data columns (total 19 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Site/Site                          194647 non-null  object
 1   Protocol                           194647 non-null  object
 2   Protocole                          194647 non-null  object
 3   JulianDay/JourJulian               194647 non-null  int64
 4   Year/Année                         194647 non-null  int64
 5   SampleNumber/Numérod'échantillon'  194647 non-null  int64
 6   Status/État                        194647 non-null  object
 7   status                             194647 non-null  int64
 8   QAQC                               194647 non-null  bool
 9   Type/Type                          194647 non-null  object
 10  Variable                           194647 non-null  object
 11  VariableDescription                194647 non-null  object
 12  VariableFr                         194647 non-null  object
 13  DescriptiondelaVariable            194647 non-null  object
 14  Unit/Unité                         194647 non-null  object
 15  Value/Valeur                       194647 non-null  float64
 16  MDL                                17042 non-null   float64
 17  Computed/Calculé                   67213 non-null   float64
 18  Note/Remarque                      7309 non-null    object
dtypes: bool(1), float64(3), int64(4), object(11)
memory usage: 26.9+ MB

In [7]:
hab_df.head()

,Site/Site,Protocol,Protocole,JulianDay/JourJulian,Year/Année,SampleNumber/Numérod'échantillon',Status/État,status,QAQC,Type/Type,Variable,VariableDescription,VariableFr,DescriptiondelaVariable,Unit/Unité,Value/Valeur,MDL,Computed/Calculé,Note/Remarque
0,0100,CABIN - Open Water,RCBA - Eaux libres,251,1993,1,Potential Reference,3,False,Physical Data,Depth-Lake,Depth from Surface,Profondeur-Lac,Profondeur à partir de la surface,Meters,9.200000,NaN,NaN,NaN
1,0100,CABIN - Open Water,RCBA - Eaux libres,251,1993,1,Potential Reference,3,False,Physical Data,%Clay-Measured,Percentage of fine sediment that is clay,%Argile-Mesuré,Pourcentage du sédiment fin qui est de l'argile,%,0.100000,NaN,NaN,NaN
2,0100,CABIN - Open Water,RCBA - Eaux libres,251,1993,1,Potential Reference,3,False,Physical Data,%Gravel-Measured,Percentage of fine sediment that is gravel,%Gravier-Mesuré,Pourcentage du sédiment fin qui est du gravier,%,1.660000,NaN,NaN,NaN
3,0100,CABIN - Open Water,RCBA - Eaux libres,251,1993,1,Potential Reference,3,False,Physical Data,%Sand-Measured,Percentage of fine sediment that is sand,%Sable-Mesuré,Pourcentage du sédiment fin qui est du sable,%,98.129997,NaN,NaN,NaN
4,0100,CABIN - Open Water,RCBA - Eaux libres,251,1993,1,Potential Reference,3,False,Physical Data,%Silt-Measured,Percentage of fine sediment that is silt,%Limon-Mesuré,Pourcentage du sédiment fin qui est du limon,%,0.110000,NaN,NaN,NaN

# Study data

In [8]:
st_df = pd.read_excel('data/CABIN-data-20210307/cabin_study_data_mda02_1987-present.xlsx')

In [9]:
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4127 entries, 0 to 4126
Data columns (total 20 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Type/Type                              4127 non-null   object
 1   Study/Étude                            4127 non-null   object
 2   StudyDescription/Descriptiondel'étude  4086 non-null   object
 3   StudyPurpose/Objectifdel'étude'        4086 non-null   object
 4   Authority/Autorité                     4076 non-null   object
 5   Province/Province                      4127 non-null   object
 6   Ecoregion/Écorégion                    4127 non-null   object
 7   EcoregionNumber/Numérodel'écorégion    4127 non-null   int64
 8   Site/Site                              4127 non-null   object
 9   SiteName/Nomdusite                     4123 non-null   object
 10  LocalBasinName/Nomdubassinlocal        4105 non-null   object
 11  Latitude                               4127 non-null   float64
 12  Longitude                              4127 non-null   float64
 13  CWSSD_ID                               4127 non-null   object
 14  CWSSD_Basin                            4127 non-null   object
 15  StreamOrder/Ordreducoursd'eau'         1242 non-null   float64
 16  ENVIRODATCode/Coded'envirodat'         285 non-null    object
 17  JulianDay/JourJulien                   4127 non-null   int64
 18  Year/Année                             4127 non-null   int64
 19  SiteDescription/Descriptiondusite      3670 non-null   object
dtypes: float64(3), int64(3), object(14)
memory usage: 645.0+ KB

In [27]:
st_df.head()

,Type/Type,Study/Étude,StudyDescription/Descriptiondel'étude,StudyPurpose/Objectifdel'étude',Authority/Autorité,Province/Province,Ecoregion/Écorégion,EcoregionNumber/Numérodel'écorégion,Site/Site,SiteName/Nomdusite,LocalBasinName/Nomdubassinlocal,Latitude,Longitude,CWSSD_ID,CWSSD_Basin,StreamOrder/Ordreducoursd'eau',ENVIRODATCode/Coded'envirodat',JulianDay/JourJulien,Year/Année,SiteDescription/Descriptiondusite
0,Lake,AOC Bay of Quinte 2000,Legacy - Needs Update,Legacy - Needs Update,Federal,ON,Manitoulin-Lake Simcoe,134,6501,Lake Ontario,Laurentian Great lakes,44.060000,-76.776944,209,[water body: Lake Ontario],NaN,NaN,223,2000,Dr. R Dermitt stantion Lake Ontario LOX stnd ...
1,Lake,AOC Bay of Quinte 2000,Legacy - Needs Update,Legacy - Needs Update,Federal,ON,Manitoulin-Lake Simcoe,134,6502,Lake Ontario,Laurentian Great lakes,44.108639,-76.899389,209,[water body: Lake Ontario],NaN,NaN,216,2000,Dr. R. Dermitt station Conway at yellow buoy.|...
2,Lake,AOC Bay of Quinte 2000,Legacy - Needs Update,Legacy - Needs Update,Federal,ON,Manitoulin-Lake Simcoe,134,6503,Lake Ontario,Laurentian Great lakes,44.046500,-77.020361,02H10,Lake Ontario - Napanee,NaN,NaN,222,2000,Dr. R. Dermitt station Glenora buoy|Formerly...
3,Lake,AOC Bay of Quinte 2000,Legacy - Needs Update,Legacy - Needs Update,Federal,ON,Manitoulin-Lake Simcoe,134,6504,Lake Ontario,Laurentian Great lakes,44.154000,-77.176639,02H10,Lake Ontario - Napanee,NaN,NaN,213,2000,Dr. R. Dermitt station Big Bay|Formerly Site ...
4,Lake,AOC Bay of Quinte 2000,Legacy - Needs Update,Legacy - Needs Update,Federal,ON,Manitoulin-Lake Simcoe,134,6505,Lake Ontario,Laurentian Great lakes,44.153806,-77.345000,209,[water body: Lake Ontario],NaN,NaN,215,2000,Dr R. Dermitt station Bellville B at buoy|For...

# Extract NL data

### Study data in NL

In [10]:
st_nl_df = st_df[st_df['Province/Province'] == 'NL'].reset_index(drop=True)

In [11]:
st_nl_df.head(3)

,Type/Type,Study/Étude,StudyDescription/Descriptiondel'étude,StudyPurpose/Objectifdel'étude',Authority/Autorité,Province/Province,Ecoregion/Écorégion,EcoregionNumber/Numérodel'écorégion,Site/Site,SiteName/Nomdusite,LocalBasinName/Nomdubassinlocal,Latitude,Longitude,CWSSD_ID,CWSSD_Basin,StreamOrder/Ordreducoursd'eau',ENVIRODATCode/Coded'envirodat',JulianDay/JourJulien,Year/Année,SiteDescription/Descriptiondusite
0,River,Atlantic CABIN,Sites collected by Environment Canada Atlantic...,Atlantic Canada sites collected by Environment...,Federal,NL,Southwestern Newfoundland,109,ATLCBNL-01,Grand Lake,Humber,48.689444,-58.151667,02Y02,Humber,2.0,NF02YJ0034,271,2009,"West of Grand Lake, down logging road off highway"
1,River,Atlantic CABIN,Sites collected by Environment Canada Atlantic...,Atlantic Canada sites collected by Environment...,Federal,NL,Southwestern Newfoundland,109,ATLCBNL-02,Big Gull Pond Brook,Big Gull Pond Brook,48.787500,-58.028611,02Y01,Port au Port Bay,2.0,NF02YJ0035,271,2009,SW of Pinchgurt Lake (at bridge). Off logging/...
2,River,Atlantic CABIN,Sites collected by Environment Canada Atlantic...,Atlantic Canada sites collected by Environment...,Federal,NL,Long Range Mountains,108,ATLCBNL-03,Three Tom Brook,Three Tom Brook,49.403611,-57.733056,02Y03,Bonne Bay,2.0,NF02YH0066,271,2009,"West o River, access via sandpit"

In [12]:
nl_sites = st_nl_df['Site/Site'].unique()

### Habitat data in NL

In [13]:
hab_df['is_NL'] = hab_df['Site/Site'].apply(lambda x : x in nl_sites)

In [14]:
hab_nl_df = hab_df[hab_df['is_NL']].reset_index(drop=True)

In [15]:
hab_nl_df.head()

,Site/Site,Protocol,Protocole,JulianDay/JourJulian,Year/Année,SampleNumber/Numérod'échantillon',Status/État,status,QAQC,Type/Type,Variable,VariableDescription,VariableFr,DescriptiondelaVariable,Unit/Unité,Value/Valeur,MDL,Computed/Calculé,Note/Remarque,is_NL
0,ADB01,CABIN - Wadeable Streams,RCBA - Cours d'eau franchissables à gué,334,2017,1,Test,2,False,Channel,Velocity-Avg,Average Velocity,Vélocité moyenne,Vélocité moyenne,m/s,0.197088,NaN,0.0,NaN,True
1,ADB01,CABIN - Wadeable Streams,RCBA - Cours d'eau franchissables à gué,334,2017,1,Test,2,False,Channel,Velocity-Max,Maximum Velocity,Vélocité maximale,Vélocité maximale,m/s,0.542494,NaN,0.0,NaN,True
2,ADB01,CABIN - Wadeable Streams,RCBA - Cours d'eau franchissables à gué,334,2017,1,Test,2,False,Channel,Reach-Riffles,Presence/Absence of riffle habitat in reach,Tronçon-Seuils,Présence/absence d'habitats de haut-fond dans ...,Binary,1.000000,NaN,0.0,NaN,True
3,ADB01,CABIN - Wadeable Streams,RCBA - Cours d'eau franchissables à gué,334,2017,1,Test,2,False,Channel,Reach-%CanopyCoverage,Proportion of the reach bankfull width covered...,Tronçon-%CouvertForestier,Proportion de la largeur à pleins bords du tro...,PercentRange,1.000000,NaN,0.0,NaN,True
4,ADB01,CABIN - Wadeable Streams,RCBA - Cours d'eau franchissables à gué,334,2017,1,Test,2,False,Channel,Slope,Channel Slope as measured by height over distance,Pente,Pente du chenal tel qu'estimée en utilisant la...,m/m,0.095700,NaN,0.0,NaN,True

### Benthic data in NL

In [16]:
ben_df['is_NL'] = ben_df['Site/Site'].apply(lambda x : x in nl_sites)

In [17]:
ben_nl_df = ben_df[ben_df['is_NL']].reset_index(drop=True)

In [18]:
ben_nl_df.shape, ben_df.shape

((11129, 27), (194891, 27))

In [19]:
ben_nl_df.head()

,Site/Site,Year/Année,JulianDay/JourJulien,SamplingDevice/Dispositifd'échantillonnage,KickTime/Périodedelapassedufilettroubleau,MeshSize/Maillage,SampleNumber/Numérod'échantillon,SubSample/Sous-échantillon,TotalSample/Échantillontotal,Status/État,...,Class/Classe,Order/Ordre,Family/Famille,Genus/Genre,Species/Espèce,Replicate/Réplicat,Count/Décompte,ITIS_TSN,Valid/Valide,is_NL
0,ATLCBNL-05,2009,272,Kick Net,3.0,400.0,1,16.0,100,Potential Reference,...,Insecta,Diptera,Empididae,NaN,NaN,1,56.25,135830.0,True,True
1,ATLCBNL-05,2009,272,Kick Net,3.0,400.0,1,16.0,100,Potential Reference,...,Insecta,Diptera,Muscidae,NaN,NaN,1,6.25,150025.0,True,True
2,ATLCBNL-05,2009,272,Kick Net,3.0,400.0,1,16.0,100,Potential Reference,...,Insecta,Diptera,Chironomidae,NaN,NaN,1,200.00,127917.0,True,True
3,BOT03,2008,302,Kick Net,3.0,400.0,1,18.0,100,Potential Reference,...,Bivalvia,Veneroida,Pisidiidae,NaN,NaN,1,27.77,81388.0,True,True
4,BOT03,2008,302,Kick Net,3.0,400.0,1,18.0,100,Potential Reference,...,Clitellata,NaN,Enchytraeidae,NaN,NaN,1,5.55,68510.0,True,True

## Fix the encoding problem

The problem that occurs when reading the CSV file is due to its encoding. To fix this, we can convert French letters to English letters and save the file using `UTF-8` encoding.

In [20]:
# test of one example
y = ben_df.columns[1]

In [21]:
translationTable = str.maketrans("éàèùâêîôûç", "eaeuaeiouc")
y.translate(translationTable)

'Year/Annee'

### Fix column names

In [22]:
# Use translation table to convert letters to English and clean '
def Fr_to_En(text):
    translationTable = str.maketrans("éàèùâêîôûçÉÀÈÙÂÊÎÔÛÇ", "eaeuaeioucEAEUAEIOUC")
    text = str(text)
    return(text.translate(translationTable).replace("'",""))
    
df_list = [ben_nl_df, hab_nl_df, st_nl_df]

# fixing column names
for df in df_list:
    df.columns = list(map(Fr_to_En, df.columns))

### Fix columns' contents

In [23]:
df_list = [ben_nl_df, hab_nl_df, st_nl_df]

for df in df_list:
    df.select_dtypes(['object']).applymap( lambda x : Fr_to_En(x))

# Save the results

In [26]:
ben_nl_df.to_csv("data/CABIN-data-20210307/NL_cabin_benthic_data_mda02_1987-present.csv")
hab_nl_df.to_csv("data/CABIN-data-20210307/NL_cabin_habitat_data_mda02_1987-present.csv")
st_nl_df.to_csv("data/CABIN-data-20210307/NL_cabin_study_data_mda02_1987-present.csv")